<div class="card mt-3">
    <div class="card-body">

       <div class="form-check">
           <input class="form-check-input" type="radio" [(ngModel)]="radioButtonSeleccionado" 
           name="sexo" id="todos" (change)="radioChange()" value="Todos">
           <label class="form-check-label" for="todos">
             Todos({{todos}})
           </label>
         </div>
         <div class="form-check">
           <input class="form-check-input" type="radio" [(ngModel)]="radioButtonSeleccionado"
            name="sexo" id="Femenino" (change)="radioChange()" value="Femenino" >
           <label class="form-check-label" for="Femenino">
             Femenino({{femenino}})
           </label>
         </div>
         <div class="form-check">
           <input class="form-check-input" type="radio" [(ngModel)]="radioButtonSeleccionado"
            name="sexo"  id="Masculino" (change)="radioChange()" value="Masculino" >
           <label class="form-check-label" for="Masculino">
             Masculino({{masculino}})
           </label>
         </div>





    </div>
</div>
