<div class="container">
    <div class="card mt-3">
         <div class="card-body">
     
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sexo" id="todos" value="Masculino">
                <label class="form-check-label" for="todos">
                  Todos({{obtenerTotalEmpleados()}})
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sexo" id="Femenino"  >
                <label class="form-check-label" for="Femenino">
                  Femenino({{obtenerTotalFemeninos()}})
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sexo" id="Masculino"  >
                <label class="form-check-label" for="Masculino">
                  Masculino({{obtenerTotalMasculinos()}})
                </label>
              </div>





         </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Legajo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Sexo</th>
                <th scope="col">Salario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empleado of listEmpleados">
                <td>{{empleado.legajo}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellido}}</td>
                <td>{{empleado.sexo}}</td>
                <td>{{empleado.salario | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
